<div class="row pg_sett_row">
	<div class="col-md-3">
		<div class="home-sidebar-right">
			<div class="feed-btn timeline-picker">
				<div class="feed-space">
					<div class="feed-item first">
						<a class="line-badge" href="{{CONFIG site_url}}/boosts" data-ajax="load.php?app=boosts&apph=boosts">
							<label class="timeline-wrapper timeline-checked">
								<span class="timeline-button">
									<input type="radio" value="follow"><span></span>
								</span>
								<span>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.04492,22a.99922.99922,0,0,1-.96533-1.25879L8.88574,14H5.04541a1.00007,1.00007,0,0,1-.96582-1.25879l2.67969-10A.99954.99954,0,0,1,7.7251,2h7a1.00008,1.00008,0,0,1,.96582,1.25879L14.42041,8h4.53418a1,1,0,0,1,.73975,1.67285l-10.90918,12A.99947.99947,0,0,1,8.04492,22Z"></path></svg>
									<article class="timeline-title">{{LANG r_boosts}}</article>
								</span>
							</label>
						</a>
					</div>
					<div class="feed-item first">
						<a class="line-badge" href="{{CONFIG site_url}}/tokens" data-ajax="load.php?app=tokens&apph=tokens">
							<label class="timeline-wrapper not-checked">
								<span class="timeline-button">
									<input type="radio" value="follow"><span></span>
								</span>
								<span>
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M18 8C18 11.3137 15.3137 14 12 14C8.68629 14 6 11.3137 6 8C6 4.68629 8.68629 2 12 2C15.3137 2 18 4.68629 18 8ZM13.9932 14.7121C13.3615 14.8995 12.6925 15 12 15C8.71646 15 5.96095 12.7392 5.2052 9.6893C3.29924 10.6944 2 12.6955 2 15C2 18.3137 4.68629 21 8 21C11.3137 21 14 18.3137 14 15C14 14.9035 13.9977 14.8075 13.9932 14.7121ZM14.9693 14.3408C16.8562 13.4557 18.2833 11.7532 18.7948 9.68929C20.7007 10.6944 22 12.6955 22 15C22 18.3137 19.3137 21 16 21C14.8285 21 13.7355 20.6643 12.8119 20.0839C14.1594 18.808 15 17.0022 15 15C15 14.7777 14.9896 14.5578 14.9693 14.3408Z" fill="currentColor"></path></svg>
									<article class="timeline-title">{{LANG t_tokens}}</article>
								</span>
							</label>
						</a>
					</div>
					<div class="feed-item first">
						<a class="line-badge" href="{{CONFIG site_url}}/points" data-ajax="load.php?app=points&apph=points">
							<label class="timeline-wrapper not-checked">
								<span class="timeline-button"><input type="radio" value="foryou" checked=""><span></span></span>
								<span>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 5C7.031 5 2 6.546 2 9.5S7.031 14 12 14c4.97 0 10-1.546 10-4.5S16.97 5 12 5zM7 14.938v3c1.237.299 2.605.482 4 .541v-3C9.605 15.419 8.237 15.236 7 14.938zM13 15.478v3c1.395-.059 2.764-.242 4-.541v-3C15.764 15.236 14.395 15.419 13 15.478zM19 14.297v3c1.801-.755 3-1.857 3-3.297v-3C22 12.44 20.801 13.542 19 14.297zM5 17.297v-3C3.2 13.542 2 12.439 2 11v3C2 15.439 3.2 16.542 5 17.297z"></path></svg>
									<article class="timeline-title">{{LANG earn_points}}</article>
								</span>
							</label>
						</a>
					</div>
					<div class="feed-item first">
						<a class="line-badge" href="{{CONFIG site_url}}/loose_points" data-ajax="load.php?app=loose_points&apph=loose_points">
							<label class="timeline-wrapper not-checked">
								<span class="timeline-button">
									<input type="radio" value="follow"><span></span>
								</span>
								<span>
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 5C7.031 5 2 6.546 2 9.5S7.031 14 12 14c4.97 0 10-1.546 10-4.5S16.97 5 12 5zM7 14.938v3c1.237.299 2.605.482 4 .541v-3C9.605 15.419 8.237 15.236 7 14.938zM13 15.478v3c1.395-.059 2.764-.242 4-.541v-3C15.764 15.236 14.395 15.419 13 15.478zM19 14.297v3c1.801-.755 3-1.857 3-3.297v-3C22 12.44 20.801 13.542 19 14.297zM5 17.297v-3C3.2 13.542 2 12.439 2 11v3C2 15.439 3.2 16.542 5 17.297z"></path></svg>
									<article class="timeline-title">{{LANG loose_points}}</article>
								</span>
							</label>
						</a>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<h3 class="text-center points_center boosts"><b>{{LANG boosts_center}}</b></h3>
		<img src="{{CONFIG site_url}}/media/img/boosts/boosts.png" height="180px" />
	</div>
	<div class="col-md-9 page-content">
		<div class="static_page padd">
			<div class="ac_points dt_sections boosts">
				<h4 class="bold">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.04492,22a.99922.99922,0,0,1-.96533-1.25879L8.88574,14H5.04541a1.00007,1.00007,0,0,1-.96582-1.25879l2.67969-10A.99954.99954,0,0,1,7.7251,2h7a1.00008,1.00008,0,0,1,.96582,1.25879L14.42041,8h4.53418a1,1,0,0,1,.73975,1.67285l-10.90918,12A.99947.99947,0,0,1,8.04492,22Z"></path></svg>
					<b>{{LANG r_boosts}}</b>
				</h4>
				<div class="qd_cred_bl boosts">
					<div class="boosts_circle-1"></div>
					<div class="boosts_circle-2"></div>
					<div class="boosts_circle-3"></div>
					<h2><span><?php echo($context['me']['boosts']) ?></span> {{LANG r_boosts}}</h2>
					<p>{{LANG your_total_bought_boosts}}</p>
					<span class="can-rd">{{LANG you_can_boost_post}}</span><br>
					<span>{{LANG note}} {{LANG each_boosted_post}} <b class="b-timer"><?php echo($context['me']['boost_timer']) ?> {{LANG days}}</b></span>
				</div>
			</div>
		</div>
		<br>
		<div class="static_page padd">
			<div class="credit-plans ac_points">
				<div class="cr-plans">
					<p>
						<input type="radio" name="plans" id="tim-boost" value="boost_timer" data-price="<?php echo($config['boost_timer_price']) ?>">
						<label for="tim-boost" class="bx-boost">
							<span class="title">{{LANG boost_timer}}</span>
							<b><img style="height: 15px; width: 15px;" src="{{CONFIG site_url}}/media/img/boosts/clock.png" alt="..."/> <?php echo $config['boost_timer_count']; ?></b>
							<img src="{{CONFIG site_url}}/media/img/boosts/boost-timer.png" alt="..."/>
							<span class="amount"><?php echo($config['boost_timer_price']) ?> {{LANG credits}}</span>
						</label>
					</p>
					<p>
						<input type="radio" name="plans" id="one-boost" value="single_boost" data-price="<?php echo($config['one_boost_price']) ?>">
						<label for="one-boost" class="bx-boost">
							<span class="title">{{LANG single_boost}}</span>
							<b>	<img src="{{CONFIG site_url}}/media/img/icons/energy.png" alt="..."/> <?php echo $config['single_boost']; ?></b>
							<img src="{{CONFIG site_url}}/media/img/boosts/boost.png" alt="..."/>
							<span class="amount"><?php echo($config['one_boost_price']) ?> {{LANG credits}}</span>
						</label>
					</p>
					<p>
						<input type="radio" name="plans" id="bx-boost" value="crate_of_boost" data-price="<?php echo($config['crate_of_boost_price']) ?>">
						<label for="bx-boost" class="bx-boost">
							<span class="title">{{LANG crate_of_boost}}</span>
							<b>	<img src="{{CONFIG site_url}}/media/img/icons/energy.png" alt="..."/> <?php echo $config['crate_of_boost']; ?></b>
							<img src="{{CONFIG site_url}}/media/img/boosts/boosts.png" alt="..."/>
							<span class="amount"><?php echo($config['crate_of_boost_price']) ?> {{LANG credits}}</span>
						</label>
					</p>
				</div>
				<div class="pay-with credit-pay boosts hidden">
					<div class="pay_u_btns valign">
						<button id="creditPay" onclick="ProcessPayment()" class="payment btn boost valign hidden"></button>
					</div>
				</div>
			</div>
		</div>
	
	</div>
	<div class="clear"></div>
</div>

<script type="text/javascript">
	<?php if($context['me']['has_bought'] > 0) { ?>
		document.getElementById('tim-boost').addEventListener('click', function(e) {
			$('.boosts').fadeIn(100).removeClass('hidden');
			$('#creditPay').attr('disabled','true');
			$('#creditPay').html('{{LANG you_already_bought}}');
		});
	<?php } else { ?>
		document.getElementById('tim-boost').addEventListener('click', function(e) {
			$('.boosts').fadeIn(100).removeClass('hidden');
			$('#creditPay').html('{{LANG pay}} ' + Price() + ' {{LANG credits}}');
		});
	<?php } ?>
	document.getElementById('one-boost').addEventListener('click', function(e) {
		$('#creditPay').removeAttr('disabled');
		$('.boosts').fadeIn(100).removeClass('hidden');
		$('#creditPay').html('{{LANG pay}} ' + Price() + ' {{LANG credits}}');
	});
	document.getElementById('bx-boost').addEventListener('click', function(e) {
		$('#creditPay').removeAttr('disabled');
		$('.boosts').fadeIn(100).removeClass('hidden');
		$('#creditPay').html('{{LANG pay}} ' + Price() + ' {{LANG credits}}');
	});
	function ProcessPayment(){
		$('#creditPay').attr('disabled','true');
		$.post(link('payment/pay'), {description:description(), price:Price(), mode: "credits"}, function(data, textStatus, xhr) {
			Snackbar.show({showAction: false,backgroundColor: '#fff',text: '<div class="snack-div">{{LANG c_payment}}</div>'});
			if (data.status == 200) {
				setTimeout(function () {
					Snackbar.show({showAction: false,backgroundColor: '#fff',text: '<div class="snack-div">'+data.message+'</div>'});
				}, 5000);
				delay(function(){
					$('#creditPay').removeAttr('disabled');
					$('#ajax_redirect').attr('href', "{{CONFIG site_url}}/boosts");
					$('#ajax_redirect').attr('data-ajax', "load.php?app=boosts&apph=boosts");
					$('#ajax_redirect').click();
				},8000);
			
			} else {
				setTimeout(function () {
					Snackbar.show({showAction: false,backgroundColor: '#fff',text: '<div class="snack-div">'+data.message+'</div>'});
				}, 5000);
				delay(function(){
					$('#creditPay').removeAttr('disabled');
					$('#ajax_redirect').attr('href', "{{CONFIG site_url}}/boosts");
					$('#ajax_redirect').attr('data-ajax', "load.php?app=boosts&apph=boosts");
					$('#ajax_redirect').click();
				},8000);
			}
		});
	}
</script>