<div class="stories wo_imagecombo_lbox story_lightbox">


    <div class="tag_story_side">
        <h2 class="tag_page_title m5">Create New Status</h2>
        <div class="wow_sett_content tag_create_story">
            <form class="create-user-story form-horizontal" method="post"> 
            </form>
        </div>
    </div>


    
    <div class="story-img">
        <div class="tag_lbox_story_view">
            <div class="tag_lbox_img_innr">
               
            </div>
        </div>
    </div>
    
</div>