<div class="timeline-posts content-shadow timeline-posts-ads">
	<div class="header">
		<img src="{{CONFIG site_url}}/media/img/hello.png" class="img-circle" />
		<span class="timeline-posts_ads_name">
			<a href="javascript:void(0)" class="publisher-name">Fumigram</a>
			<p><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17" height="17" x="0px" y="0px" viewBox="0 0 370 370" style="enable-background:new 0 0 370 370;" xml:space="preserve"><g><path id="XMLID_1207_" style="fill:#FF9811;" d="M0,150c0,44.183,35.817,80,80,80h10v-80H0z"/><path style="fill:#FFAD41;" d="M90,70H80c-44.183,0-80,35.817-80,80h90V70z"/><polygon style="fill:#FF5023;" points="100.77,370 180,370 170,230 90,230"/><path style="fill:#FF5023;" d="M370,150c0-29.729-21.627-54.378-50-59.139v118.277C348.373,204.378,370,179.727,370,150z"/><polygon style="fill:#FFDA44;" points="90,150 90,230 170,230 200,230 290,300 290,150"/><polygon style="fill:#FFE98F;" points="290,150 290,0 200,70 90,70 90,150"/><polygon style="fill:#FF9811;" points="320,0 290,0 290,150 290,300 320,300 320,209.139 320,90.861"/></g></svg> <a class="sponsored"> Sponsored</a></p>
		</span>
        <time class="ad_post_time"><a><span class="time-ago" ><?php echo(time2str(time())); ?> ago</span></a></time>
		<div class="clear"></div>
	</div>
	<div class="post-images fluid lightgallery">
		<a><img src="{{CONFIG site_url}}/media/img/quick-ad.jpg" class="img-res"></a>
	</div>
	<div class="caption">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8462913288699097" crossorigin="anonymous"></script>
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8462913288699097" data-ad-slot="2211760360" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	</div>
</div>