<div class="modal" id="pay_modal_wallet" role="dialog" data-keyboard="false">
    <div class="about-dialog about-centered modal-screen">
        <div class="about-content">
            <div class="modal-body">
                <div class="mp modal-gx-n sub-modal">
                    <div class="about-img about-round">
                        <div class="modal_cover" id="cover-bg" style="background-image: url('{{CONFIG site_url}}/media/img/gifs/679710.png');">
							<div class="mp-banner-coverbg"></div>
						</div>
						<span class="pull-right" data-confirm--modal-dismiss>
							<div class="popup-close cancel">
								<svg class="popup-close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
							</div>
						</span>
                    </div>
					<div class="container about-bar">
						<div class="text-center pay_head unk"></div>
						<div class="text-center pay_title"></div>
						<div class="text-center pay_modal_text"></div>
						<div class="all-social">
							<button class="btn btn-mat p-button pay_credit" id="pay_button">
								<span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 22px;height:22px"><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-12.95L16.95 12 12 16.95 7.05 12 12 7.05zm0 2.829L9.879 12 12 14.121 14.121 12 12 9.879z" fill="currentColor"></path></svg> {{LANG pay}}</span>
							</button>
						</div>
						<div class="alert_text"></div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>tippy('.cancel', {arrow: true,content: '{{LANG cancel}}'});</script>