<div class="delt-active">
	<div class="valign settings-holder delete">
		<img src="<?php echo($context['me']['avatar']) ?>" class="avatar cha" alt="...">
		<div class="infoz">
			<h5 title="<?php echo($context['me']['name']) ?>"><a><?php echo($context['me']['name']) ?></a></h5>
			<p>{{LANG delete_account}}</p>
			<span>{{LANG confirm_del_account}}</span>
		</div>
	</div>
	<form class="form pp_sett_form" id="delete-account-settings">
		<!-- <div class="pg_mat_input">
			<input type="text" name="deletecode" placeholder="{{LANG delete_code}}">
			<label>{{LANG delete_code}}</label>
		</div> -->
		<div class="pg_mat_input">
			<input type="password" name="password" placeholder="{{LANG password}}">
			<label>{{LANG password}}</label>
		</div>
		<div class="pg_sett_save"><button type="submit" class="btn btn-mat delete"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M11.602 13.76l1.412 1.412 8.466-8.466 1.414 1.414-9.88 9.88-6.364-6.364 1.414-1.414 2.125 2.125 1.413 1.412zm.002-2.828l4.952-4.953 1.41 1.41-4.952 4.953-1.41-1.41zm-2.827 5.655L7.364 18 1 11.636l1.414-1.414 1.413 1.413-.001.001 4.951 4.951z"></path></svg> {{LANG continue}}</span></button></div>
		<input type="hidden" name="user_id" value="<?php echo($context['me']['user_id']) ?>">
		<input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
	</form>
</div>
<?php include $context['direct'].'/settings/templates/settings/js/script.html';?>