<div class="pass-active">
	<div class="valign settings-holder password">
		<img src="<?php echo($context['me']['avatar']) ?>" class="avatar cha" alt="...">
		<div class="infoz">
			<h5 title="<?php echo($context['me']['name']) ?>"><a><?php echo($context['me']['name']) ?></a></h5>
			<p>{{LANG change_passwd}}</p>
			<span>{{LANG change_ur_password}}</span>
		</div>
	</div>
	<form class="form pp_sett_form" id="edit-password-settings">
		<?php if(!IS_ADMIN){ ?>
		<div class="pg_mat_input">
			<input required="true" type="password" name="old_password" placeholder="{{LANG old_passwd}}" autocomplete="off">
			<label>{{LANG old_passwd}}*</label>
		</div>
		<?php } ?>
		<div class="pg_mat_input">
			<input required="true" type="password" name="new_password" placeholder="{{LANG new_passwd}}" autocomplete="off">
			<label>{{LANG new_passwd}}*</label>
		</div>
		<div class="pg_mat_input">
			<input required="true" type="password" name="conf_password" placeholder="{{LANG conf_new_passwd}}" autocomplete="off">
			<label>{{LANG conf_new_passwd}}*</label>
		</div>
		<div class="pg_sett_save"><button type="submit" class="btn btn-mat password"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M11.602 13.76l1.412 1.412 8.466-8.466 1.414 1.414-9.88 9.88-6.364-6.364 1.414-1.414 2.125 2.125 1.413 1.412zm.002-2.828l4.952-4.953 1.41 1.41-4.952 4.953-1.41-1.41zm-2.827 5.655L7.364 18 1 11.636l1.414-1.414 1.413 1.413-.001.001 4.951 4.951z"></path></svg> {{LANG save_changes}}</span></button></div>
		<hr>
		<h5 class="text-align"><a href="{{CONFIG site_url}}/settings/password_reset/<?php echo($context['me']['user_id']) ?>" data-ajax="load.php?app=settings&apph=settings&user=<?php echo($context['me']['username']) ?>&page=password_reset">{{LANG forgot_old_passwd}}</a></h5>
		<p class="text-align">{{LANG password_instructions}}</p>
		<input type="hidden" name="user_id" value="<?php echo($context['me']['user_id']) ?>">
		<input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
	</form>
</div>
<?php include $context['direct'].'/settings/templates/settings/js/script.html'; ?>