<div class="prof-active">
	<div class="valign settings-holder profile">
		<img src="<?php echo($context['me']['avatar']) ?>" class="avatar cha" alt="...">
		<div class="infoz">
			<h5 title="<?php echo($context['me']['name']) ?>"><a><?php echo($context['me']['name']) ?></a></h5>
			<p>{{LANG profile_settings}}</p>
			<span>{{LANG adjust_ur_profile}}</span>
		</div>
	</div>
	<form class="form pp_sett_form" id="edit-profile-settings">
		<div class="row">
			<div class="col-md-6">
				<div class="pg_mat_input">
					<input type="text" name="fname" placeholder="{{LANG fname}}" value="<?php echo($context['me']['fname']) ?>">
					<label>{{LANG fname}}</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="pg_mat_input">
					<input type="text" name="lname" placeholder="{{LANG lname}}" value="<?php echo($context['me']['lname']) ?>">
					<label>{{LANG lname}}</label>
				</div>
			</div>
		</div>
		<div class="pg_mat_input">
			<input type="text" name="web_name" placeholder="{{LANG web_name}}"value="<?php echo($context['me']['web_name']) ?>">
			<label>{{LANG web_name}}</label>
		</div>
		<div class="pg_mat_input">
			<input type="url2" name="website" placeholder="{{LANG ur_web_url}}"value="<?php echo($context['me']['website']) ?>">
			<label>{{LANG ur_web_url}}</label>
		</div>
		<div class="pg_mat_input">
			<textarea placeholder="{{LANG about_u}}" id="about_u" name="about" rows="3" maxlength="150"><?php if($context['me']['about']){ echo br2nl($context['me']['about']) ; } ?></textarea>
			<label>{{LANG about_u}}</label>
			<span class="help-block"><span id="chars">150</span> characters remaining.</span>
		</div>
		<div class="pg_mat_input">
			<label>{{LANG profile_style}}</label>
			<select name="profile" class="pg_select_has_label" required="true">
				<?php if($config['pro_system'] === 'on' && $context['me']['is_pro']){ ?>
				    <option value="2" <?php if($context['me']['profile'] == 2){ ?> selected <?php } ?>>{{LANG nova_profile}}</option>
				<?php } ?>
				    <option value="1" <?php if($context['me']['profile'] == 1){ ?> selected <?php } ?>>{{LANG default_profile}}</option>
				<?php if($config['pro_system'] === 'on' && $context['me']['is_pro']){ ?>
					<!-- <option value="3" <?php if($context['me']['profile'] == 3){ ?> selected <?php } ?>>{{LANG bluetech_profile}}</option>
					<option value="4" <?php if($context['me']['profile'] == 4){ ?> selected <?php } ?>>{{LANG pathfinder_profile}}</option> -->
					<option value="5" <?php if($context['me']['profile'] == 5){ ?> selected <?php } ?>>{{LANG oceana_profile}}</option>
				<?php } ?>
				<?php if($context['me']['hexagon'] > 0){ ?>
				    <option value="6" <?php if($context['me']['profile'] == 6){ ?> selected <?php } ?>>{{LANG hexagon_profile}}</option>
				<?php } ?>
			</select>
		</div>
		<div class="pg_sett_save"><button type="submit" class="btn btn-mat profile"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M11.602 13.76l1.412 1.412 8.466-8.466 1.414 1.414-9.88 9.88-6.364-6.364 1.414-1.414 2.125 2.125 1.413 1.412zm.002-2.828l4.952-4.953 1.41 1.41-4.952 4.953-1.41-1.41zm-2.827 5.655L7.364 18 1 11.636l1.414-1.414 1.413 1.413-.001.001 4.951 4.951z"></path></svg> {{LANG save_changes}}</span></button></div>
		<input type="hidden" name="user_id" value="<?php echo($context['me']['user_id']) ?>">
		<input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
	</form>
</div>
<?php include $context['direct'].'/settings/templates/settings/js/script.html';?>