<div class="followers--ls__item pg_folw_sugg_carousel" id="<?php echo($udata['user_id']) ?>">
	<div class="item">
		<div class="avatar">
			<img src="<?php echo(media($udata['avatar'])) ?>" alt="Picture">
			<div class="valign uname">
				<a class="<?php if($config['popover'] == 'on') { ?>udata<?php } ?>" data-id="<?php echo($udata['user_id']) ?>" href="<?php echo(un2url($udata['username'])) ?>" data-ajax="load.php?app=profile&apph=profile&uname=<?php echo($udata['username']) ?>"><h4><?php echo($udata['name']) ?></h4></a>
			</div>
		</div>
		<div class="button">
			<?php if (IS_LOGGED && $udata['user_id'] != $context['user']['user_id']) {
			if ($udata['is_following'] == true) { ?>
				<button class="btn btn-mat btn-following" onclick="follow(<?php echo($udata['user_id']) ?>,this);"><span>{{LANG following}}</span></button>
			<?php } else{ ?>
				<button class="btn btn-mat" onclick="follow(<?php echo($udata['user_id']) ?>,this);"><span>{{LANG follow}}</span></button>
			<?php } } elseif (IS_LOGGED === false) { ?>
				<button class="btn btn-mat" onclick="follow(<?php echo($udata['user_id']) ?>,this);"><span>{{LANG follow}}</span></button>
			<?php } ?>
		</div>
	</div>
</div>