<div class="content post-editing-form">
	<div class="user-heading">
		<img src="{{ME avatar}}" class="img-circle">
		<span>{{ME username}}</span>
	</div>
  	<form class="form" id="import-post-gifs">
		<div class="form-group">
      		<textarea class="form-control px-post" name="caption" rows="3" placeholder="{{LANG add_post_caption}}"></textarea>
			<div class="dropdown">
				<span class="dropdown-toggle btn-emoji" data-toggle="dropdown" onclick="show_emoji('post-cap');">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"><path fill="currentColor" d="M9.153 11.603c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962zm-3.204 1.362c-.026-.307-.131 5.218 6.063 5.551 6.066-.25 6.066-5.551 6.066-5.551-6.078 1.416-12.129 0-12.129 0zm11.363 1.108s-.669 1.959-5.051 1.959c-3.505 0-5.388-1.164-5.607-1.959 0 0 5.912 1.055 10.658 0zM11.804 1.011C5.609 1.011.978 6.033.978 12.228s4.826 10.761 11.021 10.761S23.02 18.423 23.02 12.228c.001-6.195-5.021-11.217-11.216-11.217zM12 21.354c-5.273 0-9.381-3.886-9.381-9.159s3.942-9.548 9.215-9.548 9.548 4.275 9.548 9.548c-.001 5.272-4.109 9.159-9.382 9.159zm3.108-9.751c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962z"></path></svg>
				</span>
				<ul class="dropdown-menu <?php if ($config['emoji_zoom_in'] == 'on') { ?>zoom<?php } ?> pull-right ultimate-menu demoji emoji-part"></ul>
			</div>
      	</div>
		  <div class="import-gifs">
			<div class="form-group search-input">
				<input type="text" placeholder="{{LANG search_gifs}}">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z"/></svg>
			</div>
			<div class="preview-video hide">
				<button type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"></path></svg></button>
				<div class="fluid"></div>
			</div>
			<div class="content_prnt"><div class="content hide"></div></div>
		</div>
		<div class="loading_cont hidden"></div>
		<div class="form-group publish">
			<button type="reset" class="btn btn-mat default" id="close-anim-modal">{{LANG close}}</button>&nbsp;&nbsp;
      		<button type="submit" class="btn btn-mat main">{{LANG publish}}</button>
      	</div>
      	<input class="hidden" id="upload-images" type="file" name="images[]" multiple accept="image/*">
        <input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
  	</form>
</div>
<div class="clear"></div>
<?php include $context['direct'].'/home/templates/home/js/script.import.images.html'; ?>