<style>footer{display: none !important;}</style>
<div class="container">
	<div class="setup-step step-two-active">
		<div class="line">
			<div class="line_sec"></div>
			<div class="dot one"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"></path></svg><span>{{LANG profile}}</span></div>
			<div class="dot two"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"></path></svg><span>{{LANG about}}</span></div>
			<div class="dot three"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z"></path></svg><span>{{LANG follow}}</span></div>
		</div>
	</div>
	<div class="pg_page padd pp_startup">
		<form id="startup_info">
			<div class="start_head">
				<h3>{{LANG tell_us}}</h3>
			</div>
			<div class="pg_mat_input">
				<input required="true" placeholder="{{LANG fname}}" type="text" name="fname" id="fname" autofocus />
				<label for="fname">{{LANG fname}}</label>
			</div>
			<div class="pg_mat_input">
				<input required="true" placeholder="{{LANG lname}}" type="text" name="lname" id="lname" />
				<label for="lname">{{LANG lname}}</label>
			</div>
			<div class="pg_mat_input">
				<select name="country" class="pg_select_has_label">
					<?php foreach ($context['cnames'] as $cid => $cname) { ?>
						<option value="<?php echo($cid) ?>"><?php echo($cname) ?></option>
					<?php } ?>
				</select>
				<label>{{LANG country}}</label>
			</div>
			<div class="valign pg_start_subtn">
				<small onclick="skip_startup()">{{LANG skip_step}}</small>
				<button class="btn btn-mat main" type="submit">{{LANG save_c}}</button>
			</div>
			<input type="hidden" name="hash" value="<?php echo($context['csrf_token']) ?>">
		</form>
	</div>
</div>

<script type="text/javascript">
function skip_startup() {
	$.post(link('startup/skip'), function(data, textStatus, xhr) {
		$('#ajax_redirect').attr('href', "{{CONFIG site_url}}");
		$('#ajax_redirect').attr('data-ajax', "load.php?app=home&apph=home");
		$('#ajax_redirect').click();
	});
}

jQuery(document).ready(function($) {
	var form = $("form#startup_info");
	form.ajaxForm({
		url: link('startup/info'),
		type: 'POST',
		dataType: 'json',
		beforeSend: function(){
			$('form').find('button[type="submit"]').attr('disabled','true');
		}, success: function(data){
			if (data.status == 200) {
				$('#ajax_redirect').attr('href', "{{CONFIG site_url}}");
				$('#ajax_redirect').attr('data-ajax', "load.php?app=home&apph=home");
				$('#ajax_redirect').click();
			}else{
				Snackbar.show({showAction: false,backgroundColor: '#fff',text: '<div class="snack-div">'+data.message+'</div>'});
			}
	        $('form').find('button[type="submit"]').removeAttr('disabled');
		}
	});
});
</script>